
h2, h3, h4, h5, h6 {
    margin-top: 20px;
}

.site-header {

    background: linear-gradient(90deg, rgba(85,205,252,1) 0%, rgba(255,255,255,1) 50%, rgba(247,168,184,1) 100%);

}

.page-link, .site-title {
    color: black !important;
}